include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/openapi_viewer *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/openapi_viewer/migration *.ini *.py *.mako
